*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#p{position: sticky;
top: 0;
z-index: 1;
}
/*carrucel*/

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #000000;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #000000;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #070707;
  border-color: #f1edec;
  color: #f5f4f4;
}

.btn,
.btn:hover {
  border-radius: 0px;
  background-image: none;

  border-color: #fdfdfd;
  color: #f1f0f0;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #000000;
  outline: none;
}

/*preguntas*/
.se{
  display : flex;
  flex-direction : row;
  flex-wrap: nowrap ;
 
}

/*contacto g*/

.s {
  padding: 2em 10px;
background-color: aliceblue;
}
.aline{
  display : flex;
  flex-direction : row;
  justify-content: center;
  flex-wrap: wrap;
 

}
.mape{
margin: 10px;
}
h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
div.form {
  width: 100%;
  max-width: 450px;
  border: 2px solid rgb(0, 0, 0);
  margin: 0 auto;
  padding: 20px;
}
.input-field {
  position: relative;
}
.input-field i {
  color: rgb(0, 0, 0); 
  margin: 0px 1rem;
  font-size: 25px;
  width: 25px;
  top: -15px;
  position: relative;
}
.input-field i.fa-pen {
  top: -80px;
  position: relative;
}


input, textarea {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 3rem;
  margin: 0 0 15px 0;
  transition: all .3s;
  width: 80%;
  padding-top: 20px;
  font-size: 16px;
}
textarea {
  padding: 1.6rem 0;
}
label {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0.8rem;
  left: 1.3rem;
  cursor: text;
  margin-left: 3rem;
}
.btn-block {
  margin: 0 auto;
  text-align: center;
}
.btn-block .btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #000000;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  padding: 10px 35px;
  font-size: 19px;
  margin-top: 1em;
  margin-bottom: 1em; 
}
.btn-block .btn i {
  float: right; 
  padding-left: 10px; 
  font-size: 16px; 
  padding-top: 3px;
}
@media (max-width: 400px) {
  div.form {width: 90%; padding: 20px 10px;}
  input, textarea {width: 73%;}
  .input-field i {margin: 0px 1rem 0px 0.6rem;}
  label {left: 0.7rem;}
}



/*footer listo*/
@media screen and (min-width: 991px) {
    .feature-content {
      display: flex;
      align-items: center;
    }
  }
  
  .feature-alt {
    background: #E8DED5;
  }
  
  #feature-four .feature-content {
    padding: 0;
  }
  
  #feature-five {
    margin-top: 2rem;
  }
  
  #main-footer {
    background: #262f36;
    color: #fff;
    padding: 6rem 0;
    font-size: 0.8rem;
  }
  
  #main-footer h6 {
    color: #718FA9;
  }
  
  #main-footer a {
    color: #6c6f73;
  }

  h2{
    display: flex;
    justify-content: center;
  }